<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <h1>you have <%=saved.length%> saved</h1> 
    <% saved.forEach( element => { %>
        
        <li>   
      <h1><%=element.title%></h1>
      <p><%=element.author%></p>
      <p><img src="<%=element.image%>"></p>
      <p><%=element.description%></p>
      </li>
      <%})%>

    </ul>

    
</body>
</html>